/*MAIN GRID////////////////////////////////*/
body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(61, 61, 61);
  display: grid;
  grid-template-columns: 190px 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
      "sidebar header"
      "sidebar main";
  margin: 0;
  overflow-x: hidden;
}

header {
  grid-area: header;
  background-color: white;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  grid-area: main;
  background-color: green;
}

/*HEADER///////////////////////////////////*/

/*SEARCH SECTION*/

.search-bar-container {
  align-items: center;
  border-bottom: 2px solid rgb(243, 243, 243);
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding: 0;
}

.search-bar-container i {
  font-size: 1.13em;
  padding: 22px;
  margin: 0;
  color: rgb(143, 143, 143);
  border-left: 2px solid rgb(243, 243, 243);
}

.search-bar-container i:hover,
.settings-container:hover,
.settings-container:hover #left-arrow-icon,
.settings-container:hover #settings-icon {
  background-color: rgb(72, 163, 243);
  color: white;
  cursor: pointer;
}

#left-arrow-icon,
#settings-icon {
  padding-top: 22px;
  padding-bottom: 22px;
  border: none;
}

#left-arrow-icon {
  padding-right: 0;
  padding-left: 20px;
}

#settings-icon {
  padding-left: 0;
  padding-right: 20px;
}

.search-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0;
}

.search-bar {
  width: 90%;
  border: 0;
  padding: 10px 0;
  font-size: 1em;
}

::placeholder {
  color: rgb(190, 190, 190);
}

.hide {
  display: none;
}

.expand-body {
  grid-template-columns: 0px 1fr;
}

/*BANNER PROFILE*/

.banner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 40px 40px 20px;
}

.banner h1 {
  font-weight: 600;
  margin: 0;
  color: rgb(100, 100, 100)
}

.banner-location {
  color: rgb(155, 155, 155);
  display: inline-block;
  margin: 5px 0px;
  font-size: .8em;
}

.small-map-icon {
  margin: 0 2px;
  font-size: .8em;
  color: rgb(155,155,155)
}

.p-alt-color {
  color:rgb(103, 184, 255);
}

.p-alt-color:hover {
  text-decoration: underline;
  cursor: pointer;
}

.banner-buttons-container button {
  border: 2px solid rgb(214, 214, 214);
  border-radius: 50%;
  color: rgb(136, 136, 136);
  margin: 3px;
  padding: 8px 10px;
}

.banner-buttons-container button:hover {
  background-color: rgb(136, 136, 136);
  color: white;
  cursor: pointer;
}

.banner-buttons-container i {
  height: 11px;
  width: 11px;
}

#open-button {
  border-radius: 20px;
}

.green-dot {
  color : rgb(1, 190, 1);
}

/*BANNER SECONDARY NAV MENU*/

.secondary-nav-menu-container {
  border-bottom: 2px solid rgb(184, 184, 184);
}

.secondary-nav {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin-bottom: 0;
}

.secondary-nav li {
  border-bottom: 2px solid white;
  color:rgb(136, 136, 136);
  font-size: .9em;
  font-weight: 600;
  margin: 15px 40px 0 0;
  padding-bottom: 17px;
}

.secondary-nav li:hover {
  border-color:rgb(72, 163, 243);
  color:rgb(55, 64, 80);
  cursor: pointer;
}

/*SIDEBAR////////////////////////////////////*/

aside {
  background-color:rgb(55, 64, 80);
}

aside section {
  background-color:rgb(55, 64, 80);
  border-bottom: 3px solid rgb(47, 54, 66);
  color: rgb(155, 169, 192);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

/*PROFILE SECTION*/

.profile-pic {
  width: 80px;
  border-radius: 50%;
  margin-top: 20px;
}

.profile-name {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: .8em;
}

.profile-down {
  position: absolute;
  top: -4px;
  right: -20px;
  font-size: .8em;
}

.profile-sidebar {
  justify-content: center;
  align-items: center;
}

aside h3 {
  color: rgb(96, 108, 124);
  font-weight: 400;
  font-size: .9em;
  margin: 34px 20px 5px 19px;
}

td {
  font-size: .8em
}

/*NAV LIST TABLES*/

aside table {
  margin-bottom: 25px;
  border-collapse: collapse;
}

aside i {
  margin: 14px 0 14px 20px;
}

.table-icon {
  width: 46px;
}

aside tr:hover {
  background-color: rgb(47, 54, 66);
  color: white;
  cursor: pointer;
}

/*CHECKBOX STYLING*/ 

.catagories-sidebar {
  border-bottom: none;
}

.catagories-form {
  margin-top: 18px;
  padding-left: 20px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: .9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
}

.checkmark-admin {
  background-color: rgb(243, 214, 74);
}

.checkmark-design {
  background-color: rgb(83, 173, 246);
}

.checkmark-executive {
  background-color: rgb(215, 55, 99);
}

.checkmark-hr {
  background-color: rgb(75, 167, 137);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 5px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*MAIN SECTION//////////////////////////////////////*/

main {
  background-color: rgb(238, 242, 246);
  color: rgb(100, 100, 100);
}

/*Charts Section/////////////////////////////////////*/

.charts-section {
  border-bottom: 2px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 45px;
  padding-bottom: 30px;
}

/*CIRCLE CHARTS*/

.circle-charts {
  display: flex;
  justify-content: space-between;
}

.circle-chart {
  position: relative;
  width: 120px;
  margin: 30px 50px 30px 20px;
}

.applicants-circle-chart {
  margin-left: -10px;
}

.circle-chart-label {
  position: absolute;
  top: 70px;
  left: 45px;
  font-size: .8em;
}

.circle-chart-value {
  position: absolute;
  top: 25px;
  left: 43px;
  font-size: 1.8em;
  font-weight: 400;
}

.inner-circle {
  stroke: #d1d1d1;
  stroke-width: 12;
}

.circle-fill {
  stroke-linecap: round;
  stroke-width: 12;
  stroke-dasharray: 401.92; 
}

.applicants-circle-fill {
  stroke: rgb(131, 203, 211);
  stroke-dashoffset: 85.717;
  animation: applicants-progress 1.5s;
}

.interviews-circle-fill {
  stroke: rgb(74, 168, 172);
  stroke-dashoffset: 125.717;
  animation: interviews-progress 1.5s;
}

.forwards-circle-fill {
  stroke: rgb(164, 113, 172);
  stroke-dashoffset: 219.717;
  animation: forwards-progress 1.5s;
}

.circle-svg {
  height: 160px;
  width: 160px;
  transform: rotate(-90deg);
}

@keyframes applicants-progress {
	from {
		stroke-dashoffset: 401.92;
	}
	to {
		stroke-dashoffset: 85.717;
	}
}

@keyframes interviews-progress {
	from {
		stroke-dashoffset: 401.92;
	}
	to {
		stroke-dashoffset: 125.717;
	}
}

@keyframes forwards-progress {
	from {
		stroke-dashoffset: 401.92;
	}
	to {
		stroke-dashoffset: 219.717;
	}
}

/*BAR CHART*/

.bar-chart {
  align-content: flex-start;
  display: flex;
  margin: 0;
  position: relative;
}

#bar-graph-labels {
  list-style: none;
  font-size: .7em;
  justify-content: space-between;
  height: 125px;
  position: absolute;
  top: -5px;
  left: -65px;
}

.bar-section {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  justify-content: center;
  height: 150px
}

.bar-graphs {
  height: 140px;
  margin: 5px;
  transform: rotate(180deg);
  width: 11px;
}

.bar {
  fill:rgb(74, 168, 172);
  width: 10px;
  animation: barChartFill 1.5s;
}

.bar:hover {
  fill: rgb(61, 140, 143)
}

.background-bar {
  fill: #d1d1d1;
  height: 120px;
  width: 10px;
}

.day {
  font-size: .8em;
  text-align: center;
  margin: 0;
}

.main-chart-label {
  position: relative;
  font-size: .75em;
  background-color: white;
  padding: 5px;
  text-align: center;
  border: 2px solid #d1d1d1;
  border-radius: 20px;
  margin: 0 auto;
}

.full-bar-chart-label {
  bottom: -20px;
  width: 120px;
}

.full-circle-chart-label {
  bottom: 14px;
  width: 190px;
}

@keyframes barChartFill {
  from {
    height: 0;
  }
  to {
    height: 100;
  }
}

/*JOB DESCRIPTION SECTION /////////////*/

.job-description-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "description social"
    "description link"
    "description budget"
    "description email";
  padding: 20px 40px;
}

/*JOB DESCRIPTION*/

.description {
  grid-area: description;
}

.frank-pic {
  width: 50px;
  border-radius: 50%;
}

/*MEDIA CONTENT*/

.social {
  grid-area: social;
}

.link {
  grid-area: link;
}

.budget {
  grid-area: budget;
}

.email {
  grid-area: email;
}