/*MAIN GRID/////////////////////////////////////////////////////////*/

body {
  color: rgb(61, 61, 61);
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
      "sidebar header"
      "sidebar main";
  margin: 0;
}

button,
input {
  outline: none;
}

header {
  background-color: white;
  grid-area: header;
}

.sidebar {
  display: flex;
  grid-area: sidebar;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  grid-area: main;
}

/*HEADER///////////////////////////////////////////////////////////////*/

/*SEARCH SECTION*/

.search-bar-container {
  align-items: center;
  border-bottom: 2px solid rgb(243, 243, 243);
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding: 0;
}

.search-bar-container i {
  color: rgb(143, 143, 143);
  border-left: 2px solid rgb(243, 243, 243);
  font-size: 1.13em;
  margin: 0;
  padding: 22px;
}

.search-bar-container i:hover,
.settings-container:hover,
.settings-container:hover #settings-icon {
  background-color: rgb(72, 163, 243);
  color: white;
  cursor: pointer;
}

#settings-icon {
  border: none;
  padding: 22px 20px;
  position: relative;
}

#left-arrow-icon {
  border: none;
  position: absolute;
  padding: 0;
  top: 22px;
  left: 8px;
  z-index: 2;
}

.rotate {
  transform: rotate(-90deg);
}

.settings-container:hover #left-arrow-icon {
  color: white;
  background-color: none;
}

.settings-container {
  position: relative;
}

.search-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0;
}

.search-bar {
  width: 90%;
  border: 0;
  padding: 10px 0;
  font-size: 1em;
}

::placeholder {
  color: rgb(190, 190, 190);
}

.hide {
  display: none;
}

.expand-body {
  grid-template-columns: 0px 1fr;
}

/*BANNER PROFILE*/

.banner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 40px 40px 20px;
}

.banner h1 {
  font-weight: 600;
  margin: 0;
  color: rgb(100, 100, 100)
}

.banner-location {
  color: rgb(155, 155, 155);
  display: inline-block;
  margin: 5px 0px;
  font-size: .8em;
}

.small-map-icon {
  color: rgb(155,155,155);
  font-size: .8em;
  margin: 0 2px;
}

.p-alt-color {
  color:rgb(103, 184, 255);
}

.p-alt-color:hover {
  cursor: pointer;
  text-decoration: underline;
}

.banner-buttons-container button {
  border: 2px solid rgb(214, 214, 214);
  border-radius: 50%;
  color: rgb(136, 136, 136);
  margin: 3px;
  padding: 8px 10px;
}

.banner-buttons-container button:hover {
  background-color: rgb(136, 136, 136);
  color: white;
  cursor: pointer;
}

.banner-buttons-container i {
  height: 11px;
  width: 11px;
}

#open-button {
  border-radius: 20px;
}

.green-dot {
  color : rgb(1, 190, 1);
}

/*BANNER SECONDARY NAV MENU*/

.secondary-nav-menu-container {
  border-bottom: 2px solid rgb(184, 184, 184);
  position: relative;
}

.secondary-nav {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin-bottom: 0;
}

.secondary-nav li p{
  border-bottom: 2px solid white;
  color:rgb(136, 136, 136);
  font-size: .9em;
  font-weight: 600;
  padding-bottom: 17px;
  margin-bottom: 0;
  display: inline-block;
}

.secondary-nav li {
  margin: 15px 40px 0 0;
}

.secondary-nav li p:hover {
  border-color:rgb(83, 173, 246);
  color:rgb(55, 64, 80);
  cursor: pointer;
}

.overflow-settings-icon {
  color: rgb(136, 136, 136);
  display: none !important;
  font-size: 1.1em;
  margin: 0;
  padding: 20px;
  position: absolute;
  right: 0px;
  top: 10px;
}

.secondary-nav-overflow-menu {
  position: absolute;
  z-index: 4;;
}

.overflow-settings-icon:hover {
  color: white;
  background-color: rgb(83, 173, 246)
}


/*SIDEBAR////////////////////////////////////////////////////////////////////*/

aside {
  background-color:rgb(55, 64, 80);
}

aside section {
  background-color:rgb(55, 64, 80);
  border-bottom: 3px solid rgb(47, 54, 66);
  color: rgb(155, 169, 192);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

/*PROFILE SECTION*/

.profile-pic {
  border-radius: 50%;
  margin-top: 20px;
  width: 80px;
}

.profile-name {
  font-size: .8em;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}

.profile-down {
  font-size: .8em;
  position: absolute;
  top: -8px;
  right: -15px;
}

.profile-sidebar {
  justify-content: center;
  align-items: center;
}

aside h3 {
  color: rgb(96, 108, 124);
  font-weight: 400;
  font-size: .9em;
  margin: 34px 20px 5px 19px;
}

td {
  font-size: .8em
}

/*NAV LIST TABLES*/

aside table {
  border-collapse: collapse;
  margin-bottom: 25px;
}

aside i {
  margin: 14px 0 14px 20px;
}

.table-icon {
  width: 46px;
}

aside tr:hover {
  background-color: rgb(47, 54, 66);
  color: white;
  cursor: pointer;
}

/*CHECKBOX STYLING*/ 

.catagories-sidebar {
  border-bottom: none;
}

.catagories-form {
  margin-top: 18px;
  padding-left: 20px;
}

.checkbox-container {
  cursor: pointer;
  display: block;
  font-size: .9em;
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
  user-select: none;
}

.checkbox-container:hover {
  color: white;
}

.checkbox-container input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkmark {
  height: 16px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 16px;
}

.checkmark-admin {
  background-color: rgb(243, 214, 74);
}

.checkmark-design {
  background-color: rgb(83, 173, 246);
}

.checkmark-executive {
  background-color: rgb(215, 55, 99);
}

.checkmark-hr {
  background-color: rgb(75, 167, 137);
}

.checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  border: solid black;
  border-width: 0 3px 3px 0;
  height: 5px;
  left: 5px;
  top: 3px;
  transform: rotate(45deg);
  width: 3px;
}

/*MAIN SECTION/////////////////////////////////////////////////////////////////////////*/

main {
  background-color: rgb(238, 242, 246);
  color: rgb(100, 100, 100);
  z-index: 1;
}

/*Charts Section////////////////////////////////////////////////////////////////////////*/

.charts-section {
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-content: space-between;
  margin: 20px 45px;
  padding-bottom: 70px;
}

/*CIRCLE CHARTS*/

.circle-charts {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

.circle-chart {
  margin: 30px 0 30px 0;
  position: relative;
}

.applicants-circle-chart {
  margin-left: -10px;
}

.circle-chart-label {
  font-size: .8em;
  left: 45px;
  position: absolute;
  top: 70px;
}

.circle-chart-value {
  font-size: 2em;
  font-weight: 400;
  position: absolute;
  top: 20px;
  left: 40px;
}

.inner-circle {
  stroke: #d1d1d1;
  stroke-width: 12;
}

.circle-fill {
  stroke-linecap: round;
  stroke-width: 12;
  stroke-dasharray: 464.72; 
}

.applicants-circle-fill {
  animation: applicants-progress 1.5s;
  stroke: rgb(72, 193, 197);
  stroke-dashoffset: 85.717;
}

.interviews-circle-fill {
  animation: interviews-progress 1.5s;
  stroke: rgb(35, 162, 236);
  stroke-dashoffset: 125.717;
}

.forwards-circle-fill {
  animation: forwards-progress 1.5s;
  stroke: rgb(210, 119, 224);
  stroke-dashoffset: 219.717;
}

.circle-svg {
  display: block;
  height: 160px;
  width: 160px;
  transform: rotate(-90deg);
}

#full-circle-chart-label {
  bottom: -70px;
  right: -20px;
  position: absolute;
  width: 190px;
}

@keyframes applicants-progress {
  from {stroke-dashoffset: 464.72}
	to {stroke-dashoffset: 85.717}
}

@keyframes interviews-progress {
	from {stroke-dashoffset: 464.72}
	to {stroke-dashoffset: 125.717}
}

@keyframes forwards-progress {
	from {stroke-dashoffset: 464.72}
	to {stroke-dashoffset: 219.717}
}

/*BAR CHART*/

.bar-chart-container {
  align-content: center;
  display: flex;
  justify-content: center;
}

.bar-chart {
  display: flex;
  margin: 0;
  padding-left: 25px;
  position: relative;
  top: 2px;
}

#bar-graph-labels {
  align-items: flex-end;
  height: 155px;
  font-size: .7em;
  list-style: none;
  justify-content: space-between;
  position: relative;
  top: -5px;
  left: -10px;
}

.bar-section {
  align-content: center;
  display: flex;
  height: 180px;
  flex-direction: column-reverse;
  justify-content: center;
  position: relative;
}

.bar-graphs {
  height: 180px;
  margin: 6px;
  transform: rotate(180deg);
  width: 14px;
}

.bar {
  animation: barChartFill 1.5s;
  fill:rgb(72, 193, 197);
  width: 14px;
}

.bar:hover {
  cursor: pointer;
  fill: rgb(61, 140, 143);
}

.background-bar {
  height: 150px;
  fill: #d8e3e7;
  width: 14px;
}

.day {
  font-size: .8em;
  margin: 0;
  text-align: center;
}

.main-chart-label {
  background-color: white;
  border: 2px solid #d1d1d1;
  border-radius: 20px;
  font-size: .75em;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.full-bar-chart-label {
  bottom: -56px;
  position: absolute;
  right: 125px;
  width: 120px;
}

@keyframes barChartFill {
  from {height: 0}
  to {height: 1;}
}

.section-break {
  display: flex;
  margin: 0 40px;
}

.section-break hr {
  border-color: rgb(245, 245, 245);
  width: 50%;
}

.section-break-carrot {
  background-color: white;
  border: 2px solid rgb(209, 209, 209);
  border-radius: 50%;
  color: rgb(209, 209, 209);
  margin: 0 5px;
  padding: 5px 7px;
}

.section-break-carrot:hover {
  background-color: rgb(209, 209, 209);
  border-color: white;
  color: white;
}

.toggle-up-arrow {
  transform: rotate(180deg);
}

.toggle-up {
  display: none;
}

.charts-hidden {
  margin: 10px;
  text-align: center;
}

.bar-info-popup {
  background-color: rgb(55, 64, 80);
  color: rgb(238, 238, 238);
  font-size: .75em;
  left: -83px;
  padding: 8px;
  padding-bottom: 0;
  position: absolute;
  width: 180px;
  z-index: 3;
}

h4 {
  margin: 2px;
  text-align: center;
}

.bar-info-text{
  margin: 2px;
  text-align: center;
}

.blue-text {
  color: rgb(64, 182, 250);
}

.triangle {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; 
  border-top: 10px solid rgb(55, 64, 80);
  bottom: -8px;
  height: 0; 
  margin: 0 auto;
  position: relative;
  right: 2px;
  width: 0; 
}

/*JOB DESCRIPTION SECTION ////////////////////////////////////////////////////////*/

.job-description-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "description social"
    "description link"
    "description budget"
    "description email";
  margin-top: 35px;
  padding: 20px 40px;
}

.description {
  background-color: white;
  border-radius: 2px;
  grid-area: description;
}

.link {
  grid-area: link;
}

.budget {
  grid-area: budget;
}

.email {
  grid-area: email;
}

/*JOB DESCRIPTION*/

.job-description-table {
  border-collapse: collapse;
  margin: 0 30px;
}

.job-description-table td {
  border-bottom: 1px solid #e9e9e9;
  color:rgb(114, 126, 147);
  padding: 22px 0;
}

 .top-row {
   background-color: rgb(96, 106, 122);
  border-radius: 2px 2px 0 0 ;
  padding: 10px 0; 
}

.table-header {
  color: white;
  display: inline-block;
  font-size: .9em;
  padding-left: 30px;
}

.edit-job-button {
  background-color:rgb(126, 139, 158);
  border: 0;
  color: white;
  margin-left: 16px;
  padding: 7px 12px;
}

.edit-job-button i {
  margin-right: 3px;
}

.edit-job-button:hover {
  background-color: white;
  color: rgb(126, 139, 158);
}

.table-label {
  font-weight: 700;
  width: 150px;
}

#table-label-description {
  vertical-align: text-top;
}

#see-more {
  display: none;
}

.hiring-lead-pic {
  align-items: center;
  display: flex;
  margin-bottom: -1px;
}

.frank-pic {
  border-radius: 50%;
  width: 40px;
}

#bottom-table-item1,
#bottom-table-item2 {
  border: 0;
}

/*MEDIA CONTENT*/

.social {
  margin-left: 40px;
}

.social h2 {
  font-size: 1.1em;
}

.social i {
  margin-right: 5px;
}

.social p {
  font-size: .8em;
}

.social-buttons {
  display: flex;
  grid-area: social;
  flex-direction: column;
}

.social-button {
  border: 0;
  border-radius: 2px;
  color: white;
  font-size: .8em;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 14px;
  position: relative;
}

.social-button:hover {
  cursor: pointer;
  opacity: .7;
}

.social-media-icon {
  font-size: 1.3em;
  left: 20px;
  position: absolute;
  top: 16px;
}

.facebook {
  background-color: rgb(83, 114, 189)
}

.twitter {
  background-color:rgb(73, 170, 234)
}

.linked-in {
  background-color:rgb(53, 128, 153)
}

hr {
  border-color: #dbdbdb;
  margin: 15px 0;
}

.share-text-inputs {
  border: 1px solid #e9e9e9;
  margin-bottom: 15px;
  padding: 12px;
  width: 100%
}

.copy-link-button {
  background-color: rgb(72, 193, 197);
  border: 0;
  border-radius: 0 3px 3px 0;
  color: white;
  height: 38px;
  padding: 12px;
}

.copy-link-button:hover {
  cursor: pointer;
  opacity: .7;
}

.upload-via-email-input {
  margin-bottom: 0;
  width: 100%;
}

.input-container {
  display: flex;
  width: 100%;
}

/*MEDIA QUERIES///////////////////////////////////////////////////*/

@media screen and (max-width: 1230px) {
  body {
    grid-template-rows: 100% 5fr;  
  }

  .charts-section {
    grid-template-columns: 100%;
    margin: 20px 30px;
  }

  .circle-charts{
    padding: 0px 20px 60px; 
  }

  .applicants-circle-chart {
    margin-left: 0;
  }
  
  .bar-chart {
    padding: 0; 
  }
  
  #bar-graph-labels {
    padding: 0
  }
}

@media screen and (max-width: 1100px) {
  body {
    grid-template-columns: 0px 1fr;
  }

  .sidebar {
    border-bottom: 2px solid rgb(155, 169, 192);
    display: block;
    height: 1545px;
    left: -200px;
    position: absolute;
    transition: .5s ease-out;
    top: 62px;
    width: 200px;
    z-index: 3;
  }

  .catagories-form {
    padding-bottom: 40px;
  }

  .hide {
    border-right: 2px solid rgb(155, 169, 192);
    display: block;
    left: 0px;
  }

}

@media screen and (max-width: 905px) {
  .job-description-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "description description"
      "description description"
      "social budget"
      "link email";
    grid-gap: 25px;
  }

  .social {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    margin: 0;
  }

  .social hr {
    border: 0;
  }

  .social button,
  .social input {
    margin: 0;
  }

  .social h2 {
    margin-top: 0;
  }

  .copy-share-text {
    padding: 19px;
  }

  .copy-share-text,
  .copy-link-button {
    position: relative;
    top: 11px;
  }

  .secondary-nav {
    display: grid;
    grid-column-gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-template-rows: 100% repeat(7, 0px);
    padding-right: 80px;
    padding-left: 30px;
  }

  .secondary-nav li {
    white-space: nowrap; 
    margin-right: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 879px) {
  .overflow-settings-icon {
    display: block !important;
  }
}

@media screen and (max-width: 670px) {
  .charts-section {
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  
  .circle-charts {
    align-items: center;
    flex-direction: column;
    grid-column: 2;
    margin-bottom: 30px;
  }

  .circle-chart {
    margin: 10px;
  }

  .bar-chart {
    margin: 90px;
    padding-right: 100px;
    transform: rotate(90deg);
  }

  .day,
  .bar-info-popup,
  .bar-section li,
  .full-bar-chart-label {
    transform: rotate(-90deg);
  }

  .full-bar-chart-label { 
    bottom: 76px;
    right: -14px;
  }

  #full-circle-chart-label {
    bottom: -240px;
    right: -20px;
  }

  .bar-info-popup {
     margin-bottom: 80px;
     margin-right: 5px;
  }

  .triangle {
    bottom: 23px;
    right: 100px;
    transform: rotate(90deg);
  }

  .bar-label-0 {
    position: relative;
    right: 6px;
  }

  .bar-chart-container {
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
    width: 200px;
  }

  .job-description-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "description"
      "social" 
      "budget"
      "link" 
      "email";
    grid-gap: 25px;
  }

  .bar-graphs {
    margin: 9px;
    width: 18px;
  }

  .background-bar,
  .bar {
    width: 18px;
  }

  .background-bar {
    height: 160px;
  }
}

@media screen and (max-width: 550px) {
  .banner {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  h1 {
    text-align: center;
  }

  .secondary-nav {
    margin-top: 0px; 
  }
}

@media screen and (max-width: 490px) {
  .charts-section {
    display: flex;
    flex-direction: column;
  }

  .circle-charts {
    margin-bottom: 110px;
  }

  .bar-graphs {
    margin: 7px;
    width: 16px;
  }

  .bar-chart {
    margin-bottom: 150px;
  }

  .job-description-container {
    margin-top: 10px;
    padding: 20px 15px;
  }

  .section-break {
    margin: 0 15px;
  }

  .sidebar {
    display: block;
    height: auto;
    left: -100vw;
    position: absolute;
    top: 62px;
    width: 100vw;
    z-index: 3;
  }

  .nav-table td {
    font-size: 1.2em;
    padding: 7px;
  }

  .main-sidebar h3, 
  .checkbox-container {
    font-size: 1em;
  }

  .hide {
    border-right: 2px solid rgb(155, 169, 192);
    display: block;
    left: 0px;
  }

  .profile-pic {
    width: 150px;
  }

  .profile-name {
    font-size: 1em;
  }

  .toggle-up {
    display: none;
  }

  .bar-info-popup {
    margin: 0px 0px 0px 45px;
 }

 .triangle {
   bottom: 54px;
   transform: rotate(180deg);
   right: 80px;
 }

 .search-bar {
   display: none;
 }

 .search-container {
   flex-grow: 0;
 }

 .search-bar-container * {
   flex-grow: 1;
   margin: 0 auto;
   text-align: center;
 }

 #left-arrow-icon {
   left: 10px;
 }

 .description-row {
   height: 12px;
   overflow: hidden;
 }

 .description-body {
   display: none;
 }

 #see-more {
   display: block;
   margin-bottom: -1px;
 } 

 #see-more-link {
   color: rgb(103, 184, 255);
 }

 #see-more-link:hover {
   cursor: pointer;
   text-decoration: underline;
 }
}